body{

  background-color: black;
}

#donate_button {
  background-color: #ff3366;
}

#main-logo {
  width: 280px;
}

.navbar {
  background-color: black;
}

.navbar-toggler-icon {
  border-color: white;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}

.header {
  padding-top: 180px;
  padding-bottom: 135px;
  background-color: #02070B;
}

section,
.container,
.container-fluid {
  position: relative;
  word-wrap: break-word;
}
.mbr-section-btn {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  font-size: 0;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}

.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}

.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}


.btn-md {
  font-weight: 700;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  transition: all .3s ease-in-out;
}
.btn-md:hover {
 background-color: #ffffff;
 color: black;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}

iframe{
  position: relative;
  width: 100%;
}